# Disable Indexing
Options All -Indexes

<Files .htaccess>
order allow,deny
deny from all
</Files>

# Set Router
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule .* core/router.php [L]
</IfModule>
